<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
  </head>
  <body>
    <div id="app">
      <h2> BMI 계산기</h2>
      <div>
      <label for = "height"> 키(cm) : </label>
      <input type="number" id="height" v-model="height">
      </div>
      <div>
        <label for="weight"> 몸무게(kg) : </label>
        <input type="number" id="weight" v-model="weight">
      </div>

      <button @click="calculateBMI"> BMI 계산하기 </button>
      <div v-if="bmi !== null">
        <h3> 당신의 BMI는 {{ bmi }} 입니다.</h3>
        <P> {{ bmicategory }} </P>
      </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script>
      new Vue ({
         el : '#app'
         data: {
             height: null,
             weight: null,
             bmi: null
         },
     
         computedL {
             bmicatagory: function() {
                 if (this.bmi === null) return '';
                 if (this.bmi < 18.5) return '저체중';
                 else if (this.bmi < 24.9) return '정상';
                 else if (this.bmi <29.9) return '과체중';
                 else return '비만';
             }
         },
     
         methods: {
             calculateBMI: function() {
                 if (this.height && this.weight) {
                     const heightmeter = this.height / 100;
                     this.bmi = (this.weight / (heightmeter*heightmeter)).toFixed(2);
                 } else {
                     alert('키와 몸무게를 입력해주세요.');
                 }
             }
         }
      });
     </script>
  </body>
</html>
